<section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-col text-center w-full mb-20">
        <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">Notre équipe</font>
          </font>
        </h1>
        <p class="lg:w-2/3 mx-auto leading-relaxed text-base">
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">Quel que soit le cardigan fourre-tout tumblr hexagone brooklyn asymétrique gentrify, les carreaux de métro piquent de la ferme à la table. </font>
            <font style="vertical-align: inherit;">Franzen, vous n'en avez probablement pas entendu parler.</font>
          </font>
        </p>
      </div>
      <div class="flex flex-wrap -m-2">
        <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
          <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg">
            <img alt="équipe" class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4" src="https://dummyimage.com/80x80">
            <div class="flex-grow">
              <h2 class="text-gray-900 title-font font-medium">
                <font style="vertical-align: inherit;">
                  <font style="vertical-align: inherit;">Awa Konteye</font>
                </font>
              </h2>
              <p class="text-gray-500">
                <font style="vertical-align: inherit;">
                  <font style="vertical-align: inherit;">Concepteur d'interface utilisateur</font>
                </font>
              </p>
            </div>
          </div>
        </div>
        <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
          <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg">
            <img alt="équipe" class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4" src="https://dummyimage.com/84x84">
            <div class="flex-grow">
              <h2 class="text-gray-900 title-font font-medium">
                <font style="vertical-align: inherit;">
                  <font style="vertical-align: inherit;">Babacar Mbaye</font>
                </font>
              </h2>
              <p class="text-gray-500">
                <font style="vertical-align: inherit;">
                  <font style="vertical-align: inherit;">Directeur technique</font>
                </font>
              </p>
            </div>
          </div>
        </div>
        <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
          <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg">
            <img alt="équipe" class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4" src="https://dummyimage.com/88x88">
            <div class="flex-grow">
              <h2 class="text-gray-900 title-font font-medium">
                <font style="vertical-align: inherit;">
                  <font style="vertical-align: inherit;">Mathias</font>
                </font>
              </h2>
              <p class="text-gray-500">
                <font style="vertical-align: inherit;">
                  <font style="vertical-align: inherit;">Fondateur</font>
                </font>
              </p>
            </div>
          </div>
        </div>
        <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
          <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg">
            <img alt="équipe" class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4" src="https://dummyimage.com/90x90">
            <div class="flex-grow">
              <h2 class="text-gray-900 title-font font-medium">
                <font style="vertical-align: inherit;">
                  <font style="vertical-align: inherit;">Mouhamed NDIAYE</font>
                </font>
              </h2>
              <p class="text-gray-500">
                <font style="vertical-align: inherit;">
                  <font style="vertical-align: inherit;">DevOps</font>
                </font>
              </p>
            </div>
          </div>
        </div>
        <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
          <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg">
            <img alt="équipe" class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4" src="https://dummyimage.com/94x94">
            <div class="flex-grow">
              <h2 class="text-gray-900 title-font font-medium">
                <font style="vertical-align: inherit;">
                  <font style="vertical-align: inherit;">Moustapha</font>
                </font>
              </h2>
              <p class="text-gray-500">
                <font style="vertical-align: inherit;">
                  <font style="vertical-align: inherit;">Ingénieur logiciel</font>
                </font>
              </p>
            </div>
          </div>
        </div>
        <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
          <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg">
            <img alt="équipe" class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4" src="https://dummyimage.com/98x98">
            <div class="flex-grow">
              <h2 class="text-gray-900 title-font font-medium">
                <font style="vertical-align: inherit;">
                  <font style="vertical-align: inherit;">Boris Kitua</font>
                </font>
              </h2>
              <p class="text-gray-500">
                <font style="vertical-align: inherit;">
                  <font style="vertical-align: inherit;">Chercheur UX</font>
                </font>
              </p>
            </div>
          </div>
        </div>
        <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
          <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg">
            <img alt="équipe" class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4" src="https://dummyimage.com/100x90">
            <div class="flex-grow">
              <h2 class="text-gray-900 title-font font-medium">
                <font style="vertical-align: inherit;">
                  <font style="vertical-align: inherit;">Pinson d'Atticus</font>
                </font>
              </h2>
              <p class="text-gray-500">
                <font style="vertical-align: inherit;">
                  <font style="vertical-align: inherit;">Ingénieur assurance qualité</font>
                </font>
              </p>
            </div>
          </div>
        </div>
        <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
          <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg">
            <img alt="équipe" class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4" src="https://dummyimage.com/104x94">
            <div class="flex-grow">
              <h2 class="text-gray-900 title-font font-medium">
                <font style="vertical-align: inherit;">
                  <font style="vertical-align: inherit;">Alper Kamu</font>
                </font>
              </h2>
              <p class="text-gray-500">
                <font style="vertical-align: inherit;">
                  <font style="vertical-align: inherit;">Système</font>
                </font>
              </p>
            </div>
          </div>
        </div>
        <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
          <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg">
            <img alt="équipe" class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4" src="https://dummyimage.com/108x98">
            <div class="flex-grow">
              <h2 class="text-gray-900 title-font font-medium">
                <font style="vertical-align: inherit;">
                  <font style="vertical-align: inherit;">Rodrigo Monchi</font>
                </font>
              </h2>
              <p class="text-gray-500">
                <font style="vertical-align: inherit;">
                  <font style="vertical-align: inherit;">Chef de produit</font>
                </font>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
